@{
    ViewBag.Title = "Index";
}

<h2>WebGen Concept App</h2>

<h3>Test cases</h3>

<ul>
    <li><a href="@Url.Action("GetAll", "RepositoryTests")">Get all objects from a repository</a></li>
    <li><a href="@Url.Action("Insert", "RepositoryTests")">Insert an object into a repository</a></li>
</ul>